<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7WttlB0fNuaLBbWl2y7zxHMsG1vPEYtM</string>
	<key>GCM_SENDER_ID</key>
	<string>234234956026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.talhwayek.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-fdf03</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-fdf03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234234956026:ios:7fda25ca36171c78daa143</string>
</dict>
</plist>